html{
    scroll-behavior: smooth;
}
.carousel-item {
    height: 80vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .carousel-caption {
    bottom: 0px;
  }
  
  .carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
  }
  
  .carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
  }
  
  .navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .logo{
      color: white !important;
  }
  .logo:hover{
    color: greenyellow !important;
}
  .navbar-light .navbar-nav  .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: white !important;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: white;
  }
  
  .navbar-toggler {
    background: #fff;
  }
  
  .navbar-nav {
    text-align: center;
  }
  
  .nav-link {
    padding: .2rem 1rem;
  }
  
  .nav-link.active,.nav-link:focus{
    color: #fff;
  }
  
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
  }

.navbar-brand:hover .navbar-brand:active{
    color:#39df9c !important;
}
  
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
  }
  
  
  
  .navbar{
      background-color: 	#524b44;
  }
  
  
  /* ignore the code below */
  hr {
    border-top: 5px solid #095484;
    margin-top: 100px;
  }
  
  .link-area
  {
    position:fixed;
    bottom:20px;
    left:20px;  
    padding:15px;
    border-radius:40px;
    background:tomato;
  }
  .link-area a
  {
    text-decoration:none;
    color:#fff;
    font-size:25px;
  }

  .todocontainer{
      margin: 20px;
      display: flex;
      justify-content:space-between ;
      flex-direction: column;
  }
  .allbox{
      display: flex;
      flex-direction: row;
      justify-content:space-evenly;
      flex-wrap: wrap;
  }

  .headingtodo{
      display: flex;
      justify-content: center;
      margin: 40px;
      font-size: 50px;
      font-weight: bold;
      padding-top: 30px;
  }

  .card{
      height: 500px;
      border-radius: 30px !important;
      margin-bottom: 30px;
      overflow: hidden;
      border: 2px solid black;
  }

  *{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.desc{
    margin: 200px;
    margin-top: 0px;
    margin-bottom: 100px;
    font-size: 24px;
}
.main-div{
    padding:0;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 50%;
    /* margin-top: 5%; */
    background-color: #1f5a60;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 50px;
    color: black;
    background: #f2f2f2;
}

.poll{
    display: flex;
    justify-content: center;
    border-radius: 40px;
    flex-direction: column;
    align-items: center;

}
.pollhead{
    font-size: 50px;
}

.choice {
    height: 400px;
    display: inline-block;
    width: 100px;
  }
  
  .result {
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .bar {
    height: 0%;
    width: 70%;
    margin: 0 auto;
  }
  
  .bar[data-choice="1"] {
    background-color: rgb(52, 3, 61);
    border-radius: 20px;
  }
  
  .bar[data-choice="2"] {
    background-color: rgb(67, 72, 81);
    border-radius: 20px;
  }
  
  .bar[data-choice="3"] {
    background-color: rgb(192, 75, 95);
    border-radius: 20px;
  }
  .bar[data-choice="4"] {
    background-color: #154010;
    border-radius: 20px;
  }
  
  .label {
    height: 70px;
    text-align: center;
  }

  .question{
      padding-bottom: 50px;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      
  }



.button-18 {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}


.pb-5 {
    background: linear-gradient(to left, #51cc48, #39df9c);
    min-height: 100vh;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: green;
    height: 100vh;
}

.width-auto {
    width: auto;
}

.text-lg {
    font-size: 2rem;
}

.carousel-indicators li {
    border: none;
    background: #ccc;
}

.carousel-indicators li.active {
    background: #28a745;
}
